body {
    background-color: #f8f9fa;
    font-family: "Oswald", sans-serif;
    color: #454c53;
    width: 960px;
    margin: 30px auto;
}

header {
    text-align: center;
}

header a {
    color: #3A4750;
    font-size: 24px;
    font-weight: lighter;
    letter-spacing: 3px;
    padding: 6px 30px;
    border-bottom: 1px solid #3A4750;
    cursor: pointer;
    text-decoration: none;
}

header a:hover {
    color: #10a3e7;
    border-bottom: 1px solid #10a3e7;
}

hr {
    margin: 6px 0px;
}

.all-projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.project-00 {
    display: flex;
    flex-direction: column;
    width: 270px;
    margin: 45px 6px 0 6px;
}

.project-00 img{
    height: 180px;
    width: 270px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}

.project-00 h3 {
    font-size: 15px;
    font-weight: bold;
    padding: 12px 15px 6px 15px;
    margin: 0;
}

.project-00 p {
    font-size: 15px;
    text-align: justify;
    padding: 0px 15px;
    margin: 0;
    
}

/* TABLET */
@media screen and (max-width: 1056px) {
    body {
        width: 90%;
    }

}